<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="30s" renewOnCallTime="20s" />
      <service>
        <activated type="TimeLifeLibrary.User, TimeLifeLibrary" />
        <wellknown mode="Singleton" 
                   type="TimeLifeLibrary.TableData, TimeLifeLibrary" 
                   objectUri="TableURI.soap" />
      </service>
      <channels>
        <channel port="13000"
                 type="System.Runtime.Remoting.Channels.Http.HttpChannel, System.Runtime.Remoting, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> 
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>