<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="15s" renewOnCallTime="5s" />
      <service>
        <activated type="TimeLifeLibrary.User, TimeLifeLibrary" />
        <wellknown mode="Singleton" 
                   type="TimeLifeLibrary.TableData, TimeLifeLibrary" 
                   objectUri="TableURI.soap" />
      </service>
      <channels>
        <channel port="13000"
                 ref="http">

          <clientProviders>
            <formatter ref="soap" typeFilterLevel="Full"  />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>