<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <client url="http://localhost:13000">
        <activated type="TimeLifeLibrary.User, TimeLifeLibrary"/>
        <wellknown type="TimeLifeLibrary.TableData, TimeLifeLibrary"
                   url="http://localhost:13000/TableURI.soap" />
      </client>
      <channels>
        <channel port ="0" ref ="http" >

          <clientProviders>
            <formatter ref="soap" typeFilterLevel="Full"  />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
          
        </channel>   
      </channels>
    </application>
  </system.runtime.remoting>
  
  
</configuration>